<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Report_pack_generator.Settings.report_pack" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.Settings.excel_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.Settings.color_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.color" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.Settings.folder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.carriers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.report_pack" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.excel_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Report_pack_generator.folder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Report_pack_generator.Settings.report_pack>
      <setting name="output_path" serializeAs="String">
        <value />
      </setting>
      <setting name="commentary_path" serializeAs="String">
        <value>\\inmum-i-fs5\group$\Global Corporate &amp; Data Strategy\FMS\Process\BIA\FINMAR\Commentaries\</value>
      </setting>
      <setting name="generated_path" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports</value>
      </setting>
    </Report_pack_generator.Settings.report_pack>
    <Report_pack_generator.Settings.excel_settings>
      <setting name="pipline_warp_column" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="borderux_column" serializeAs="String">
        <value>R</value>
      </setting>
      <setting name="trim_3_page" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wrap_text" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="generate_pdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unhide_column" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="new_renew_column" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trim_2_page" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trim_additionbrdx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rm_CRM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rm_Verbatim" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rm_Brokerdecision" serializeAs="String">
        <value>False</value>
      </setting>
    </Report_pack_generator.Settings.excel_settings>
    <Report_pack_generator.Settings.color_settings>
      <setting name="inprogress" serializeAs="String">
        <value>0, 192, 192</value>
      </setting>
      <setting name="completed" serializeAs="String">
        <value>LimeGreen</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="colorscheme" serializeAs="String">
        <value>LightSlateGray</value>
      </setting>
      <setting name="ThemeChanged" serializeAs="String">
        <value>False</value>
      </setting>
    </Report_pack_generator.Settings.color_settings>
    <Report_pack_generator.color>
      <setting name="inprogress" serializeAs="String">
        <value>0, 192, 192</value>
      </setting>
      <setting name="completed" serializeAs="String">
        <value>LimeGreen</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="colorscheme" serializeAs="String">
        <value>LightSlateGray</value>
      </setting>
    </Report_pack_generator.color>
    <Report_pack_generator.database>
      <setting name="connection_string" serializeAs="String">
        <value />
      </setting>
    </Report_pack_generator.database>
    <Report_pack_generator.Settings.folder>
      <setting name="folders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Cover for Client</string>
            <string>Commentaries</string>
            <string>Pipeline</string>
            <string>Analysis</string>
            <string>Bordereaux</string>
            <string>Additional Requirements</string>
            <string>Data Sources and Service Summary</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="covert_pdf" serializeAs="String">
        <value>False</value>
      </setting>
    </Report_pack_generator.Settings.folder>
    <Report_pack_generator.carriers>
      <setting name="carrier" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ACE</string>
            <string>AIG</string>
            <string>Allianz (UK Only)</string>
            <string>Allianz Copenhagen</string>
            <string>AWAC</string>
            <string>Axis</string>
            <string>Beazley</string>
            <string>Chubb Syndicate</string>
            <string>Chubb(UK Only)</string>
            <string>HCC</string>
            <string>Liberty</string>
            <string>Markel</string>
            <string>QBE</string>
            <string>XL</string>
            <string>Amlin</string>
            <string>Amtrust</string>
            <string>ANV</string>
            <string>Arch</string>
            <string>Argo</string>
            <string>Atrium</string>
            <string>Aviva</string>
            <string>Barbican</string>
            <string>Brit</string>
            <string>CNA</string>
            <string>CV Starr</string>
            <string>Dual</string>
            <string>Endurance</string>
            <string>Everest</string>
            <string>Generali</string>
            <string>IGI</string>
            <string>Mitsui</string>
            <string>Munich</string>
            <string>Navigators</string>
            <string>Neon</string>
            <string>Newline</string>
            <string>Panthera</string>
            <string>Pembroke</string>
            <string>Probitas</string>
            <string>RSA</string>
            <string>SCOR</string>
            <string>Swiss</string>
            <string>Travelers</string>
            <string>Zurich</string>
            <string>XL Catlin</string>
          </ArrayOfString>
        </value>
      </setting>
    </Report_pack_generator.carriers>
    <Report_pack_generator.report_pack>
      <setting name="output_path" serializeAs="String">
        <value />
      </setting>
      <setting name="commentary_path" serializeAs="String">
        <value>\\inmum-i-fs5\group$\Global Corporate &amp; Data Strategy\FMS\Process\BIA\FINMAR\Commentaries</value>
      </setting>
      <setting name="generated_path_uk" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports\2018</value>
      </setting>
      <setting name="add_cover_pages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="main_cover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="generated_path_us" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports (US)</value>
      </setting>
      <setting name="generated_path_APAC" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports (APAC)</value>
      </setting>
      <setting name="generated_path_eu" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports (France)</value>
      </setting>
      <setting name="generated_path_tm" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports (TerrorMAR)</value>
      </setting>
    </Report_pack_generator.report_pack>
    <Report_pack_generator.excel_settings>
      <setting name="pipline_warp_column" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="borderux_column" serializeAs="String">
        <value>R</value>
      </setting>
      <setting name="trim_3_page" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wrap_text" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="generate_pdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unhide_column" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="new_renew_column" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trim_2_page" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trim_additionbrdx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rm_CRM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rm_Verbatim" serializeAs="String">
        <value>False</value>
      </setting>
    </Report_pack_generator.excel_settings>
    <Report_pack_generator.folder>
      <setting name="folders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Cover for Client</string>
            <string>Commentaries</string>
            <string>Pipeline</string>
            <string>Analysis</string>
            <string>Bordereaux</string>
            <string>Additional Requirements</string>
            <string>Data Sources and Service Summary</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="pipeline_reports" serializeAs="String">
        <value>\\gbips-i-fs101\group\FINMAR Market Services\Client Service\Reports\Generated Reports</value>
      </setting>
      <setting name="covert_pdf" serializeAs="String">
        <value>False</value>
      </setting>
    </Report_pack_generator.folder>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Report_pack_generator.Properties.Settings.ConnectionString"
      connectionString="Data Source=Gbips-i-db700;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>